.cajita1 {
    height: 40px;
    width: 40px;
    background-color: beige;
}
.cajita2 {
    height: 40px;
    width: 40px;
    background-color: aqua;
}
.cajita3 {
    height: 40px;
    width: 40px;
    background-color: blue;
}
.contenedor {
    background-color: crimson;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}